* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  background-size: 300%;

  animation: bcAnimation 10s ease infinite alternate;
}


.title {
  font-family: 'Merriweather', serif;
  font-style: italic;

  padding: 50px 100px;
  background-color: rgba(238, 238, 238, 0.219);
  color: rgba($color: white, $alpha: 1.0);
}

@keyframes bcAnimation {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 95% 10%;

  }
  100% {
    background-position: 50% 100%;
  }
}